body {
    background-image: url(Imagen/adorable-brown-and-white-basenji-dog-smiling-and-giving-high-five-isolated-on-white\ \(2\).jpg);
    background-size: cover;
}

h3 {
    margin-top: 150px;
}

.mensaje {
    border-radius: 5px;
}

.form-control {
    border-radius: 10px;
    box-shadow: 0 0 5px;
    color: black;
    border-color: black;
    
}